extends layout

block content
    - var currencySymbol = "PLN";
    - var minimalPay = 300;
    if depoAdded
        h1 Potwierdzenie rezerwacji
    else
        h1 Rezerwacja w toku
    p Imię i nazwisko: #{guestFirstname} #{guestLastname}
    p Telefon: #{guestPhoneNumber}
    br
    p Całkowity koszt pobytu: #{totalPrice} #{currencySymbol}
    if depoAdded
        p Zadatek #{depoAmount} #{currencySymbol} wpłynął #[time.date(datetime='#{depoAdded}') #{depoAddedString}]
    else
        p Należy wpłacić zadatek w wysokości #{0.33 * totalPrice < minimalPay ? totalPrice < minimalPay ? totalPrice : minimalPay : 0.33 * totalPrice} #{currencySymbol}
        br
    p Rezerwacja od #[time.date(datetime='#{resStart}') #{resStartString}]
    p Rezerwacja do #[time.date(datetime='#{resEnd}') #{resEndString}]
    //- div.removeme
    //-     script.
    //-         const dates = document.querySelectorAll('.date');
    //-         for(let i = 0; i < dates.length; i++) {
    //-             let date = dates[i];
    //-             //date.innerText = new Date(date.getAttribute('datetime')).toLocaleString();
    //-         }
    //-         document.querySelector('.removeme').remove();
    br
    if depoAdded
        p Pokój: #{roomNumber}, #{floorCaption}
        p Zdjęcie #{roomID} (będzie kiedyś)